<section id="appendix_a">
<h4>APPENDIX A<br>
  SUBSCRIBER PROFILE FORM</h4>

<h4> ALL SUBSCRIBERS AND CO-SUBSCRIBERS MUST COMPLETE THIS PAGE</h4>
<p>&nbsp;</p>
<p> Amount of Subscription:
  <input name="appendix_a_amount" type="text" id="appendix_a_amount" placeholder="USD $" pattern="USD">
</p>
<p> Name of Subscriber (or, in the case of an investment through a Representative Subscriber, name of Representative Subscriber) 
  <input name="appendix_a_name" type="text" id="appendix_a_name" placeholder="Name of Subscriber" pattern="USD">
</p>



<p> Purchase Date: <input name="appendix_a_purchase_date" type="text" id="appendix_a_purchase_date" class="datepicker"></p>
<p>Tax I.D. Number / SS Number: 
  <input name="appendix_a_taxid_ssn" type="text" id="appendix_a_taxid_ssn" placeholder="Name of Subscriber" pattern="USD">
</p>
<span class="radio_tower">
<p>Type of Subscriber - Please check one:</p>
<p><input type="radio" name="data[appendix_a_subscriber_type]" value="Individual"><label for="data[appendix_a_subscriber_type]"> Individual</label></p>
<p><input type="radio" name="data[appendix_a_subscriber_type]" value="Partnership"><label for="data[appendix_a_subscriber_type]"> Partnership</label></p>
<p><input type="radio" name="data[appendix_a_subscriber_type]" value="Limited Liability Company"><label for="data[appendix_a_subscriber_type]"> Limited Liability Company</label></p>
<p><input type="radio" name="data[appendix_a_subscriber_type]" value="Corporation"><label for="data[appendix_a_subscriber_type]"> Corporation</label></p>
<p><input type="radio" name="data[appendix_a_subscriber_type]" value="Revocable Trust"><label for="data[appendix_a_subscriber_type]"> Revocable Trust</label></p>
<p><input type="radio" name="data[appendix_a_subscriber_type]" value="Irrevocable Trust"><label for="data[appendix_a_subscriber_type]"> Irrevocable Trust</label></p>
<p><input type="radio" name="data[appendix_a_subscriber_type]" value="Foundation"><label for="data[appendix_a_subscriber_type]"> Foundation</label></p>
<p><input type="radio" name="data[appendix_a_subscriber_type]" value="Endowment"><label for="data[appendix_a_subscriber_type]"> Endowment</label></p>
<p><input type="radio" name="data[appendix_a_subscriber_type]" value="Employee Benefit Plan"><label for="data[appendix_a_subscriber_type]"> Employee Benefit Plan</label></p>
<p><input type="radio" name="data[appendix_a_subscriber_type]" value="Individual Retirement Plan"><label for="data[appendix_a_subscriber_type]"> Individual Retirement Plan</label></p>
<p><input type="radio" name="data[appendix_a_subscriber_type]" value="Tenants in Common"><label for="data[appendix_a_subscriber_type]"> Tenants in Common</label></p>
<p><input type="radio" name="data[appendix_a_subscriber_type]" value="Joint Tenants"><label for="data[appendix_a_subscriber_type]"> Joint Tenants</label></p>
<p><input type="radio" name="data[appendix_a_subscriber_type]" value="Other"><label for="data[appendix_a_subscriber_type]"> Other - </label><input name="data[appendix_a_subscriber_type_specify]" type="text" id="data[appendix_a_subscriber_type_specify]" placeholder="Specify:" pattern="USD"></p>
</span>
<p>&nbsp;</p>
</section>