<section id="appendix_j">

<p> APPENDIX J BANK TRANSFER CONFIRMATION LETTER</p>

<p> Subscribers should use the template below to create a letter to their financial institution and ask that they return it to the Administrator and Investment Manager at the same time that the subscription money is wired to Millennial Assets Limited</p>

<h4> IMPORTANT</h4>

<ol>
  <li>
    <h4> PLEASE HAVE YOUR BANK IDENTIFY ON THE WIRE TRANSFER THE NAME OF THE SUBSCRIBER.</h4>
  </li>
  <li>
    <h4> WE RECOMMEND THAT YOUR BANK CHARGE ITS WIRING FEES SEPARATELY SO THAT AN EVEN AMOUNT MAY BE INVESTED.</h4>
  </li>
</ol>


<p> [To be placed on letterhead of the financial institution remitting payment] [Date] Via courier delivery service and facsimile to:</p>
<p> Investment Manager</p>
<p> Millennium Capital Partners Ltd. c/o ABM Chambers</p>
<p> Columbus Centre Road Town Tortola, VG1110</p>

<p> British Virgin Islands Attention: Mr. Chris Rocke Telephone: +284 494 6885</p>
<p> <a href="mailto:rocksolidassetmanagement@gmail.com" target="_blank">Email: </a><a href="mailto:rocksolidassetmanagement@gmail.com" target="_blank">rocksolidassetmanagement@gmail.com</a></p>

<h4> Re: Millennial Assets Limited</h4>

<p> Dear Sirs:</p>

<p> By order of [Subscriber], we have credited your account at [Funds Financial Institutions Name], [Funds account number] for [Amount in US Dollars] on [Date]. The name of the Subscriber&rsquo;s account is [Subscriber&rsquo;s bank account name] and account number is [subscribers account number].</p>

<p> [Subscriber]&rsquo;s complete name as provided in the Subscription Agreement and Application Form is [Full name of subscriber]. [Subscriber]&rsquo;s complete address as provided in the Subscription Agreement and Application Form is: [Full address of subscriber].</p>

<p> The above information is given in strictest confidence for your own use only and without any guarantee, responsibility or liability on the part of this institution or its officials.</p>

<p> Yours faithfully,</p>

</section>
