<section id="appendix_g">

<p> APPENDIX G</p>

<p> AML CERTIFICATION FORM FOR FUND OF FUNDS OR ENTITIES THAT INVEST ON BEHALF OF THIRD PARTIES THAT ARE NOT LOCATED IN AN FATF COUNTRY</p>

<p> The undersigned, being the of ,</p>
<p> Insert Title Insert Name of Entity</p>

<p> a organized under the laws of Insert Type of Entity Insert Jurisdiction of Organization</p>

<p> (the &ldquo;Company&rdquo;), does hereby certify on behalf of the Company that it is aware of applicable anti- money laundering laws and regulations. The Company has anti-money laundering policies and procedures in place reasonably designed to verify the identity of its Beneficial holders and/or underlying Subscribers and their sources of funds. Such policies and procedures are properly enforced and are consistent with the anti-money laundering laws such that the Fund may rely on this Certification.</p>

<p> The Company hereby represents to the Fund, the Investment Manager and the Administrator that, to the best of its knowledge, the Company&rsquo;s beneficial holders and/or underlying Subscribers are not individuals, entities or countries that may subject the Fund to criminal or civil violations of any anti-money laundering laws. The Company has read the section entitled &ldquo;Representations and Covenants of the Subscriber&rdquo; in the Fund&rsquo;s Anti-Money Laundering Supplement. The Company has taken all reasonable steps to ensure that its beneficial holders and/or underlying Subscribers are able to certify to such representations. The Company agrees to promptly notify the Fund, the Investment Manager and the Administrator in writing should the Company have any questions relating to any of the Subscribers or become aware of any changes in the representations set forth in this Certification.</p>

<p> Date:</p>
<p> By: Name:</p>
<p> Title:</p>
</section>