<section id="appendix_b">
    <h4 class="b u center"> APPENDIX B <br /> DEFINITION OF &ldquo;U.S. PERSON&rdquo;</h4>
    
    <p>&nbsp;</p>
    
    <p> Prospective Subscribers in the Fund must meet suitability requirements described below and in the Fund&rsquo;s subscription application. The Fund, in its discretion, may decline to accept the subscription for Shares of any prospective Shareholder.</p>
    
    <p> A &ldquo;U.S. Person&rdquo; is a person described in one or more of the following paragraphs:</p>
    
    <ol>
      <li>
        <p> With respect to any person, any individual or entity that would be a U.S. Person under Regulation S of the U.S. Securities Act of 1933, as amended (the &ldquo;Securities Act&rdquo;). The Regulation S definition of U.S. Person includes:</p>
        <ol>
          <li>
            <p> Any natural person resident in the United States;</p>
            
          </li>
          <li>
            <p> Any partnership or corporation organized or incorporated under the laws of the United States;</p>
            
          </li>
          <li>
            <p> Any partnership or corporation if organized or incorporated under the laws of any foreign jurisdiction; and formed by a U.S. person principally for the purpose of investing in securities not registered under the Act, unless it is organized or incorporated, and owned, by accredited investors (as defined in Rule 501(a) under the Securities Act) who are not natural persons, estates or trusts.</p>
            
            <p> For purposes of the foregoing, the term &ldquo;United States&rdquo; means the United States of America, its territories and possessions, any state of the United States or an enclave of the United States government, its agencies or instrumentalities, and the District of Columbia. Persons requiring details regarding other terms used in the foregoing definition (such as &ldquo;accredited investor&rdquo;) should contact the Fund&rsquo;s Administrator.</p>
            
          </li>
          <li>
            <p> An estate or trust of which an executor, administrator or trustee is a U.S. Person, unless such executor, administrator or trustee is a professional fiduciary and:</p>
            
            <ol>
              <li>
                <p> An executor, administrator or trustee who is not a U.S. Person has sole or shared investment discretion with respect to the assets of the estate or trust; and</p>
                
              </li>
              <li>
                <p> In the case of an estate, it is governed by non-United States law; or in the case of a trust, no beneficiary (and no settlor if the trust is revocable) is a U.S. Person; or</p>
                
                <p> The income of which is subject to United States income tax regardless of source.</p>
                
                
              </li>
            </ol>
          </li>
          <li>
            <p> Any agency or branch of a foreign entity located in the United States;</p>
            
          </li>
          <li>
            <p> Any non-discretionary account or similar account (other than an estate or trust) held by a dealer or other fiduciary for the benefit or account of a U.S. Person;</p>
            
          </li>
          <li>
            <p> Any discretionary account or similar account (other than an estate or trust) held by a dealer or other fiduciary organized, incorporated, or (if an individual) resident in the United States; and</p>
            
          </li>
        </ol>
      </li>
      <li>
        <p> With respect to individuals, any U.S. citizen or &ldquo;resident alien&rdquo; within the meaning of U.S. income tax laws as in effect from time to time. Currently, the term &ldquo;resident alien&rdquo; is defined under U.S. income tax laws to generally include any individual who (i) holds an Alien Registration Card (a &ldquo;green card&rdquo;) issued by the</p>
        <p> U.S. Citizenship and Immigration Services or (ii) meets a &ldquo;substantial presence&rdquo; test.</p>
        <p> The &ldquo;substantial presence&rdquo; test is generally met with respect to any current calendar year if (i) the individual was present in the U.S. on at least 31 days during such year and (ii) the sum of the number of days on which such individual was present in the U.S. during the current year, 1/3 of the number of such days during the first preceding year, and 1/6 of the number of such days during the second preceding year, equals or exceeds 183 days.</p>
      </li>
      <li>
        <p> With respect to persons other than individuals:</p>
        <ol>
          <li>
            <p> A partnership or corporation organized under the laws of the United States;</p>
            
          </li>
          <li>
            <p> Any agency or branch of a foreign entity located in the United States;</p>
            
          </li>
          <li>
            <p> Any non-discretionary account or similar account (other than an estate or trust) held by a dealer or other fiduciary for the benefit or account of one or more United States Persons;</p>
            
          </li>
          <li>
            <p> Any discretionary account or similar account (other than an estate or trust) held by a dealer or other fiduciary organized, incorporated, or (if an individual) resident in the United States, unless it is held by a dealer or other professional fiduciary exclusively for the benefit or account of one or more non-United States Persons;</p>
            
            <ol>
              <li>
                <p> a trust where (a) a U.S. court is able to exercise primary supervision over the administration of the trust and (b) one or more U.S. persons have the authority to control all substantial decisions of the trust; and</p>
                
              </li>
              <li>
                <p> an estate which is subject to U.S. tax on its worldwide income from all sources.</p>
                
              </li>
            </ol>
          </li>
        </ol>
      </li>
      <li>
        <p> With respect to any entity not organized under the laws of the United States:</p>
        <ol>
          <li>
            <p> That has its principal office or place of business in the United States; or</p>
            
          </li>
          <li>
            <p> In which citizens or residents of or entities organized under the laws of or existing in the United States directly or indirectly hold in the aggregate ten percent or more of the beneficial interests; or</p>
            
          </li>
          <li>
            <p> That was formed by a U.S. Person principally for the purpose of investing in securities not registered under the United States Securities Act of 1933, as amended, unless it is formed and owned by &ldquo;accredited investors&rdquo; (as defined in Rule 501(a) under the Securities Act of 1933, as amended) who are not natural persons, estates or trusts; or</p>
            
          </li>
          <li>
            <p> That is organized principally for passive investment (such as an investment company, a commodity pool or other similar vehicle) that was formed for the purpose of facilitating investment by U.S. Persons in the Fund, or in any other commodity pool with respect to which the operator is exempt from certain requirements of Part 4 of the regulations promulgated by the United States Commodity Futures Trading Commission by virtue of its participants being non-United States Persons; and</p>
          </li>
        </ol>
      </li>
    </ol>
</section>