<section id="appendix_d">
    <p> APPENDIX D</p>
    
    <p> ANTI-MONEY LAUNDERING SUPPLEMENT</p>
    
    <p> You (the &ldquo;Subscriber&rdquo;) must complete this supplement in order to become a Shareholder of the Fund. Your Subscription Agreement will not be deemed complete, and you will not be deemed a Shareholder of the Fund, regardless of whether you have already wired funds, until all of the required documentation listed below is received by the Fund. For additional information, please contact the Investment Manager or the Administrator.</p>
    
    <p> For guidance purposes, a &ldquo;Beneficial Owner&rdquo; means each natural person who has a direct or indirect financial interest or stake in the investment or the outcome of the investment, or any rights to otherwise monetarily benefit from the investment, or to have any powers of disposition over the investment. If any beneficial owner is a minor sharing the same household as any other non-minor beneficial owner, the foregoing requirements may be abbreviated to only the first requirement.</p>
    
    <p> Please note that a &ldquo;certified&rdquo; document is a document certified as a true copy of the original by a public authority (a notary public, the police or the ambassador in the person&rsquo;s country of residence), a bank, lawyer or chartered accountant. A &ldquo;proof of identity&rdquo; is an official identification document bearing the photograph, address and nationality of the individual concerned, such document being issued by a recognised authority (such as a passport or identity card).</p>
    
    <h4> Individuals</h4>
    
    <ol>
      <li>
        <p> Certified proof of identity.</p>
      </li>
      <li>
        <p> One satisfactory reference from a professional source who has known the individual for at least one year (such as a bank, notary, lawyer, or chartered accountant) stating that the individual is considered to be reputable and would not be expected to be involved in trafficking in illicit drugs, organized crime or terrorism.</p>
      </li>
      <li>
        <p> Proof of address (utility bill, local tax bill, etc.).</p>
      </li>
    </ol>
  </li>
</ol>

<h4> Corporations</h4>

<ol>
  <li>
    <p> Certified copy of the Certificate of Incorporation.</p>
  </li>
  <li>
    <p> Certified copy of the Memorandum and Articles of Association.</p>
  </li>
  <li>
    <p> Current (under 3 months old) and original extract from the commercial registry (or equivalent) indicating the names of officers and registered address and names and addresses of all directors.</p>
  </li>
  <li>
    <p> Certified proof of identity of the directors.</p>
    
    
  </li>
  <li>
    <p> Authorized signatory list.</p>
  </li>
  <li>
    <p> Directors&rsquo; authorization to make the investment (e.g. board resolution).</p>
  </li>
  <li>
    <p> Certified proof of identity of the beneficial owners.</p>
  </li>
  <li>
    <p> One satisfactory reference from a professional source who has known the beneficial owner for at least one year (e.g. bank, notary, lawyer, chartered accountant) stating that the person is considered to be reputable and would not be expected to be involved in trafficking in illicit drugs, organized crime or terrorism.</p>
  </li>
  <li>
    <p> Proof of address of the beneficial owner (utility bill, local tax bill, etc.).</p>
  </li>
</ol>

<h4> Financial Institutions Serving as Nominees</h4>

<ol>
  <li>
    <p> Authorized signatory list.</p>
  </li>
  <li>
    <p> Authorization of directors for the investment subscription.</p>
  </li>
  <li>
    <p> Completed nominee financial institution confirmation form (Appendix K).</p>
  </li>
</ol>

<h4> Trust, Nominee or Fiduciary</h4>

<ol>
  <li>
    <p> Name, registered and business address of trustees.</p>
  </li>
  <li>
    <p> Certified copy of the Memorandum and Articles of Association of the trustee company.</p>
  </li>
  <li>
    <p> Current (under 3 months old) and original extract from the commercial registry (or equivalent) indicating the persons authorized to represent the trustee.</p>
  </li>
  <li>
    <p> Name and governing law of the trust.</p>
  </li>
  <li>
    <p> Confirmation as to the settlor, beneficiary/ies and protector (if any) of the trust.</p>
  </li>
  <li>
    <p> For each individual identified in 3 and 5 above, provide the following:</p>
    
    <ol>
      <li>
        <p> Certified proof of identity.</p>
      </li>
      <li>
        <p> One satisfactory reference from a professional source who has known the individual for at least one year (e.g. bank, notary, lawyer, chartered accountant) stating that the individual is considered to be reputable and would not be expected to be involved in trafficking in illicit drugs, organized crime or terrorism.</p>
      </li>
      <li>
        <p> Proof of address (utility bill, local tax bill, etc.).</p>
      </li>
    </ol>
  </li>
</ol>


<h4> Partnership</h4>

<ol>
  <li>
    <p> Verification of the identity of the principal beneficial owners/controllers/partners and possibly of any signatories in whom significant control has been vested by principal beneficial owners/controllers.</p>
  </li>
  <li>
    <p> Proof of trading address.</p>
  </li>
  <li>
    <p> Certified copy of the partnership agreement or other document showing the authority of person signing the subscription document to bind the partnership in making such investment.</p>
    
    <h4> ALL COPIES SHOULD BE CERTIFIED AS BEING &ldquo;TRUE AND CORRECT COPIES OF THE ORIGINAL&rdquo; BY A NOTARY PUBLIC. PLEASE CONTACT THE FUND OR THE ADMINISTRATOR AS INDICATED IF ANY ASSISTANCE IS REQUIRED TO COMPLETE THE ABOVE REQUIREMENTS.</h4>
    </li></ol></section>