<section id="appendix_k">

<p> &nbsp; </p>

<p class="b u center"> APPENDIX K <br /> NOMINEE FINANCIAL INSTITUTION CONFIRMATION</p>

<p> If the Subscriber is a nominee bank or other recognized financial institution serving as a nominee this confirmation form should be completed and returned to the Administrator along with the completed Subscription Agreement and other relevant forms.</p>

<p> [To be placed on letterhead of the financial institution remitting payment] </p>
<p> [Date] </p>
<p> Via courier delivery service and facsimile to:</p>

<hr>

<p> Millennium Capital Partners Ltd. <br />
	c/o ABM Chambers <br />
	Columbus Centre <br />
    Road Town <br />
    Tortola, VG1110 <br />
    British Virgin Islands <br />
    Attention: Mr. Chris Rocke <br />
    Telephone: +284 494 6885 <br />
    Email: rocksolidassetmanagement@gmail.com
</p>

<p> Dear Sirs:</p>

<ul style="list-style: outside disc; color: #000;">
  <li>
    <p> We are a company organised under the laws of <input type="text" name="data[appendixK_country_one]" value="" placeholder="Country"> and are subject to anti-money laundering legislation in <input type="text" name="data[appendixK_country_two]" value="" placeholder="Country">. We are regulated by <input type="text" name="data[appendixK_country_three]" value="" placeholder="Regulatory Agency in Country"> [Regulatory Agency in Country].</p>
  </li>
  <li>
    <p> We will verify the identity of all Subscribers in Millennial Assets Limited (the <span class="b u">&ldquo;Fund&rdquo;</span>).</p>
  </li>
  <li>
    <p> In the event that we are unable to verify the identity of any Subscriber in the Fund, we will inform you as soon as reasonably practicable of that fact.</p>
  </li>
  <li>
    <p> We will inform you immediately if we become aware of any Subscriber engaging in activities which lead us to believe that such Subscriber is involved in money laundering.</p>
  </li>
  <li>
    <p> We will retain documentary evidence of the identity of Subscribers in the Fund for a period of at least five years from the date of the Subscriber&rsquo;s complete redemption from the Fund.</p>
  </li>
  <li>
    <p> We further confirm that <input type="text" name="data[appendixK_country_four]" value="" placeholder="Country"> is a member of the Financial Action Task Force and that we are thereby bound by their recommendations and regulations.</p>
  </li>
</ul>

<p> We declare that we are licensed as a <input type="text" name="data[appendixK_entityType_one]" value="" placeholder="Entity Type"> by <input type="text" name="data[appendixK_reg_authority_one]" value="" placeholder="Regulatory Authority"> under the laws of <input type="text" name="data[appendixK_country_five]" value="" placeholder="Country"> and are thereby subject to the regulations and/or guidelines which, to the best of our knowledge and understanding, are in accordance with the Financial Action Task Force recommendations on the avoidance of money laundering and that the subscription is made in our name on behalf of our client(s) whom we have properly identified in accordance with said guidelines.</p>
<p> We confirm that this subscription is made on our name on behalf of our client(s), each of whom we have properly identified as required by and in accordance with all applicable laws and regulations.</p>

<p class="b"> [Name of Subscriber]</p>

<p> 
	Signature(s) 
    <div class="signature" id="indiv_signature">Click to add signature</div> <br />
    <div class="signature" id="authorized_signature">Click to add additional signature</div>
</p>

<p> Names and Titles <input type="text" name="data[appendixK_Name_one]" value="" placeholder="Name - Title"></p>
</section>
