<section id="appendix_c">
<h4 class="b u center"> APPENDIX C <br /> ACCREDITED INVESTOR AND/OR QUALIFIED CLIENT PERSON QUESTIONNAIRE </h4>

<ol class="alpha_order">
  <li>
    <p class="b"> General:</p>
    
    <ol class="num_order">
      <li>
        <p> The Subscriber hereby represents and warrants that (initial one and complete blanks):</p>
        <p><input class="initials_requested" name="data[type_of_entity_corp]" type="text" required value="" placeholder="Initials"><label for="data[type_of_entity_corp]"> (i) if the Subscriber is a corporation, partnership, limited liability company, trust or other legal entity:</label></p>
        <ol>
          <li>
            <p> The Subscriber is organized under the laws of:
            <input name="data[organized_under]" type="text" value=""></p>
          </li>
          <li>
            <p> The Subscriber has its principal place of business in:
            <input name="data[organized_under]" type="text" value=""></p>
            
            <h5> OR </h5>
            
          </li>
        </ol>
        <p><input class="initials_requested" name="data[type_of_entity_indv]" type="text" required value="" placeholder="Initials">
            <label for="data[type_of_entity_indv]"> (ii) if the Subscriber is an individual, such individual is twenty one (21) years of age or older and:</label></p>
            
            <ol>
              <li>
                <p> Is a resident of: <input name="data[resident_of]" type="text" value=""></p>
                
              </li>
              <li>
                <p> Has a date of birth of: <input name="data[dob]" type="text" value=""></p>
              </li>
            </ol>
      </li>
      <li>
        <p> Has the Subscriber ever invested in investment partnerships or other investment funds, venture capital funds, arbitrage transactions, real estate syndications, research and development companies, equipment leasing programs, oil and gas drilling programs, or other non-marketable or restricted securities?</p>
        <p>
            <input type="radio" name="data[ever_inv_in]" value="Yes"><label for="data[is_inv_company]"> Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="data[ever_inv_in]" value="No"><label for="data[is_inv_company]"> No</label>
        </p>
      </li>
      <li>
        <p> Does the Subscriber have sufficient financial resources so as to be able to withstand the loss of some or all of its investment in the Fund?</p>
        <p>
            <input type="radio" name="data[have_enough]" value="Yes"><label for="data[is_inv_company]"> Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="data[have_enough]" value="No"><label for="data[is_inv_company]"> No</label>
        </p>
      </li>
      <li>
        <p> Does the Subscriber have sufficient knowledge and experience in financial and business matters so as to be capable of evaluating the merits and risks associated with investing in the Fund?</p>
        <p>
            <input type="radio" name="data[have_knowledge]" value="Yes"><label for="data[is_inv_company]"> Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="data[have_knowledge]" value="No"><label for="data[is_inv_company]"> No</label> 
        </p>
            
        <p> <strong>If the answer to the above questions 3 or 4 is no, please contact the Fund or the Administrator.</strong></p>
        
      </li>
      <li>
        <p> If the Subscriber received the Offering Documents in a state other than the state indicated in its legal or mailing address, please indicate the state or country in which the Offering Documents were received: <input name="data[state_other_origin]" type="text" value=""></p>
      </li>
    </ol>
  </li>
  
  <br />
  
  <li>
    <p class="b"> Accredited Subscriber Status:</p>
    
    <p> Initial all appropriate spaces on the following pages indicating the basis upon which the Subscriber qualifies as an &ldquo;accredited investor&rdquo; under Regulation D.</p>
    
    <p> For Individual Subscribers Only</p>
    
    <table cellspacing="0">
      <tbody>
        <tr>
          <td>
            <p><input class="initials_requested" name="data[accred_inv_i]" type="text" required value="" placeholder="Initials"></p></td>
          <td><p> (1) I certify that I am an accredited investor because I have an individual net worth, or my spouse and I have a combined net worth, in excess of</p>
            <p> $1,000,000. For purposes of this questionnaire, &ldquo;net worth&rdquo; means the excess of total assets at fair market value, excluding your primary residence.</p></td>
        </tr>
        <tr>
          <td>
            <p><input class="initials_requested" name="data[accred_inv_ii]" type="text" required value="" placeholder="Initials"></p></td>
          <td><p> (2) I certify that I am an accredited investor because I had individual income (exclusive of any income attributable to my spouse) of more than</p>
            <p> $200,000 for each of the past two years or joint income with my spouse in excess of $300,000 in each of those years and I reasonably expect to reach the same income level in the current year.<span class="sf">2</span></p></td>
        </tr>
        <tr>
          <td>
            <p><input class="initials_requested" name="data[accred_inv_iii]" type="text" required value="" placeholder="Initials"></p></td>
          <td><p> (3) I certify that I am an accredited investor because I am an executive officer of the Fund or a member or executive officer of the Investment Manager (a &ldquo;Management Subscriber&rdquo;).</p></td>
        </tr>
        <tr>
          <td colspan="2"><p class="b i"> For Corporations, Partnerships or Limited Liability Companies</p></td>
        </tr>
        <tr>
          <td>
            <p><input class="initials_requested" name="data[accred_inv_iv]" type="text" required value="" placeholder="Initials"></p></td>
          <td><p> (4) The Subscriber hereby certifies that it is an accredited investor because it has total assets in excess of $5,000,000 and was not formed or &ldquo;recapitalized&rdquo; for specific purpose of acquiring the securities offered. &ldquo;Recapitalized&rdquo; for the purposes of this section shall include new investments made in the Subscriber solely for the purpose of its acquisition of the Interest and not made pursuant to a prior financial commitment.</p></td>
        </tr>
        <tr>
          <td>
            <p><input class="initials_requested" name="data[accred_inv_v]" type="text" required value="" placeholder="Initials"></p></td>
          <td><p> (5) The Subscriber hereby certifies that it is an accredited investor because all of its equity owners are accredited investors. The Fund or the Administrator, in its discretion, may request information regarding the basis on which such equity owners are accredited investors.</p></td>
        </tr>
      </tbody>
    </table>
    <p class="source"> 2 For purposes of this Agreement, individual income means adjusted gross income, as reported for federal income tax purposes, less any income attributable to a spouse or to property owned by a spouse, increased by the following amounts (but not including any amounts attributable to a spouse or to property owned by a spouse): (i) the amount of any tax-exempt interest income under Section 103 of the Internal Revenue Code of 1986, as amended (the &ldquo;Code&rdquo;), received, (ii) the amount of losses claimed as a limited partner in a limited partnership as reported on Schedule E of Form 1040, (iii) any deduction claimed for depletion under Section 611 et seq. of the Code, (iv) amounts contributed to an Individual Retirement Account (as defined in the Code) or Keogh retirement plan, (v) alimony paid, and (vi) any elective contributions to a cash or deferred arrangement under Section 401(k) of the Code.</p>
    
    
    <table cellspacing="0">
      <tbody>
        <tr>
          <td>
            <p> <input class="initials_requested" name="data[accred_inv_vi]" type="text" required value="" placeholder="Initials"></p></td>
          <td><p> (6) The Subscriber hereby certifies that it is an accredited investor because it is a broker or dealer registered pursuant to Section 15 of the Securities Exchange Act of 1934, as amended (the &ldquo;Exchange Act&rdquo;).</p></td>
        </tr>
        <tr>
          <td>
            <p> <input class="initials_requested" name="data[accred_inv_vii]" type="text" required value="" placeholder="Initials"></p></td>
          <td><p> (7) The Subscriber hereby certifies that it is an accredited investor because it is an investment company registered under, or a business development company as defined in Section 2(a)(48) of the Investment Company Act of 1940, as amended (the &ldquo;Investment Company Act&rdquo;).</p></td>
        </tr>
        <tr>
          <td>
            <p> <input class="initials_requested" name="data[accred_inv_viii]" type="text" required value="" placeholder="Initials"> </p></td>
          <td><p> (8) The Subscriber hereby certifies that it is an accredited investor because it is a Small Business Investment Company licensed by the U.S. Small Business Administration under Section 301(c) or (d) of the Small Business Investment Act of 1958, as amended.</p></td>
        </tr>
        <tr>
          <td>
            <p> <input class="initials_requested" name="data[accred_inv_ix]" type="text" required value="" placeholder="Initials"> </p></td>
          <td><p> (9) The Subscriber hereby certifies that it is an accredited investor because it is a private business development company as defined in Section 202(a)(22) of the Investment Advisers Act.</p></td>
        </tr>
        <tr>
          <td colspan="2"><p class="b i"> For Employee Benefit Plans</p></td>
        </tr>
        <tr>
          <td>
            <p> <input class="initials_requested" name="data[accred_inv_x]" type="text" required value="" placeholder="Initials"> </p></td>
          <td><p> (10) The Subscriber hereby certifies that it is an accredited investor because it is an employee benefit plan within the meaning of Title I of the Employee Retirement Income Security Act of 1974, as amended (&ldquo;ERISA&rdquo;), and the decision to invest in the Partnership was made by a plan fiduciary (as defined in Section 3(21) of ERISA), which is either a bank, savings and loan association, insurance company or registered investment adviser. The name of such plan fiduciary is:
          <input type="text" value="" name="data[fiduciary_plan_name]"></p></td>
        </tr>
        <tr>
          <td>
            <p> <input class="initials_requested" name="data[accred_inv_xi]" type="text" required value="" placeholder="Initials"> </p></td>
          <td><p> (11) The Subscriber hereby certifies that it is an accredited investor because it is an employee benefit plan within the meaning of ERISA and has total assets in excess of $5,000,000.</p></td>
        </tr>
        <tr>
          <td>
            <p> <input class="initials_requested" name="data[accred_inv_xii]" type="text" required value="" placeholder="Initials"> </p></td>
          <td><p> (12) The Subscriber hereby certifies that it is an accredited investor because it is a plan established and maintained by a state, its political subdivisions, or any agency or instrumentality of a state or its political subdivisions for the benefit of its employees, and has total assets in excess of $5,000,000.</p></td>
        </tr>
        <tr>
          <td colspan="2"><p class="b i"> For Individual Retirement Accounts and Keogh Plans</p></td>
        </tr>
        <tr>
          <td>
            <p> <input class="initials_requested" name="data[accred_inv_xiii]" type="text" required value="" placeholder="Initials"> </p></td>
          <td><p> (13) The Subscriber hereby certifies that it is an accredited investor because it is a self-directed plan (i.e., a tax-qualified defined contribution plan in which a participant may exercise control over the investment of assets credited to his or her account) in which the participant(s) which are acquiring an Interest in the Partnership are accredited investors because each such participant has a net worth of at least $1,000,000 or has had an individual income of at least $200,000 (or a joint income with spouse of at least $300,000) in each of the last two years or the participant is a Management Subscriber. <span class="i">The Fund or the Administrator, in its discretion, may request information regarding the basis on which such participants are accredited investors.</span></p></td>
        </tr>
      </tbody>
    </table>
    
    
    <table cellspacing="0">
      <tbody>
        <tr>
          <td colspan="2"><p class="b i"> For Charitable Tax-Exempt Entities</p></td>
        </tr>
        <tr>
          <td>
            <p> <input class="initials_requested" name="data[accred_inv_xiv]" type="text" required value="" placeholder="Initials"> </p></td>
          <td><p> (14) The Subscriber hereby certifies that it is an accredited investor because it is an organization described in Section 501(c)(3) of the Internal Revenue Code of 1986, as amended (the &ldquo;Code&rdquo;), was not formed for the specific purpose of acquiring the securities offered, and has total assets in excess of $5,000,000.</p></td>
        </tr>
        <tr>
          <td><p class="b i"> For Trusts</p></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <p> <input class="initials_requested" name="data[accred_inv_xv]" type="text" required value="" placeholder="Initials"></p></td>
        </tr>
        <tr>
          <td>
            <p> <input class="initials_requested" name="data[accred_inv_xvi]" type="text" required value="" placeholder="Initials"></p></td>
          <td><p> (16) The Subscriber hereby certifies that it is an accredited investor because it is (i) a bank as defined in Section 3(a)(2) of the Securities Act, savings and loan association or other institution as defined in Section 3(a)(5)(A) of the Securities Act, (ii) acting in a fiduciary capacity and (iii) subscribing for the purchase of the securities being offered on behalf of a trust account or accounts.</p></td>
        </tr>
        <tr>
          <td>
            <p> <input class="initials_requested" name="data[accred_inv_xvii]" type="text" required value="" placeholder="Initials"></p></td>
          <td><p> (17) The Subscriber hereby certifies that it is an accredited investor because it is a revocable trust which may be amended or revoked any time by the grantors thereof and all of the grantors are accredited investors. The Fund or the Administrator, in its sole discretion, may request information regarding the basis on which such grantors are accredited investors.</p></td>
        </tr>
        <tr>
          <td colspan="2"><p class="b i"> For Banks, Savings and Loans and Similar Institutions</p></td>
        </tr>
        <tr>
          <td>
            <p> <input class="initials_requested" name="data[accred_inv_xviii]" type="text" required value="" placeholder="Initials"> </p></td>
          <td><p> (18) The Subscriber hereby certifies that it is an accredited investor because it is a bank as defined in Section 3(a)(2) of the Securities Act, a savings and loan association or an institution as defined in Section 3(a)(5)(A) of the Securities Act acting in its individual or fiduciary capacity.</p></td>
        </tr>
         <tr>
          <td colspan="2"><p class="b i"> For Insurance Companies</p></td>
        </tr>
        <tr>
          <td>
            <p> <input class="initials_requested" name="data[accred_inv_xviii]" type="text" required value="" placeholder="Initials"> </p></td>
          <td><p> (19) The Subscriber hereby certifies that it is an insurance company as defined in Section 2(13) of the Securities Act.</p></td>
        </tr>
      </tbody>
    </table>
    
  </li>
  <br />
  <li>
    <p class="b">Qualified Client Status:</p>
    
    <p> For Individual Subscribers Only</p>
    
    <table cellspacing="0">
      <tbody>
        <tr>
          <td>
            <p><input class="initials_requested" name="data[qual_client_i]" type="text" required value="" placeholder="Initials"></p></td>
          <td><p> (1) I certify that I am a &ldquo;qualified client&rdquo; because I have an individual net worth, including assets held jointly with my spouse, in excess of</p>
            <p> $2,100,000. For purposes of this questionnaire, &ldquo;net worth&rdquo; means the excess of total assets at fair market value, excluding your primary residence; OR</p></td>
        </tr>
        <tr>
          <td>
            <p><input class="initials_requested" name="data[qual_client_ii]" type="text" required value="" placeholder="Initials"></p></td>
          <td><p> (2) I certify that I am a &ldquo;qualified client&rdquo; because I have at least $1,000,000 under the management of the Investment Manager; OR</p></td>
        </tr>
        <tr>
          <td>
            <p><input class="initials_requested" name="data[qual_client_iii]" type="text" required value="" placeholder="Initials"></p></td>
          <td><p> (3) I certify that I am a &ldquo;qualified purchaser&rdquo; as defined in Section 2(a)(51)(A) of the Investment Company Act.</p></td>
        </tr>
        <tr>
          <td colspan="2"><p class="b i"> For Entities Which Are Not Investment Funds</p></td>
        </tr>
        <tr>
          <td>
            <p><input class="initials_requested" name="data[qual_client_iv]" type="text" required value="" placeholder="Initials"></p></td>
          <td>
          <p>(4) I certify that I am the representative of the Subscriber, that I qualify as an independent agent <span class="sf">3</span> (i.e., I personally am not connected with the Fund or the Investment Manager or any of their affiliates in any way other than as a representative of a Subscriber in the Fund) and that the Subscriber is a &ldquo;qualified client&rdquo; because:</p>
        <ol>
          <li>
            <p> the Subscriber is not (i) a non-publicly offered investment fund with fewer than 100 beneficial owners, (ii) an investment company registered under the Investment Company Act, or (iii) a private business development company as defined in Section 202(a) of the Advisers Act; and</p>
          </li>
          <li>
            <p> the Subscriber either (i) has a net worth in excess of $2,100,000, (ii) has at least $1,000,000 under the management of the Investment Manager, or (iii) is a &ldquo;qualified purchaser&rdquo; as defined in Section 2(a)(51)(A) of the Investment Company Act. <span class="i">As used in the foregoing sentence, &ldquo;net worth&rdquo; means the excess of total assets at fair market value over total liabilities.</span></p>
          </li>
        </ol>
          </td>
        </tr>
      </tbody>
    </table>
    
    <p class="source"> 3 &ldquo;Independent agent&rdquo; means any person agreeing to act as the subscriber&rsquo;s agent in connection with this investment other than: (i) the Investment Manager, an &ldquo;affiliated person&rdquo; of the Investment Manager, an affiliated person of an affiliated person of the Investment Manager, or an &ldquo;interested person&rdquo; of the Investment Manager; (ii) a person who receives, directly or indirectly, any compensation in connection with this investment from the Investment Manager, an affiliated person of the Investment Manager, an affiliated person of an affiliated person of the Investment Manager or an interested person of the Investment Manager; or (iii) a person with any material relationship between himself (or an affiliated person of such person) and the Investment Manager (or an affiliated person of the Investment Manager) that exists, or has existed at any time during the previous two years.</p>
    
    <table cellspacing="0">
      <tbody>
        <tr>
          <td colspan="2"><p class="b i"> For Investment Funds</p></td>
        </tr>
        <tr>
          <td>
            <p> <input class="initials_requested" name="data[qual_client_v]" type="text" required value="" placeholder="Initials"> </p></td>
          <td><p> (5) I certify that I am the representative of the Subscriber, that I qualify as an independent agent (as defined above) and that the Subscriber is a qualified client because each and every equity owner of the Subscriber is a &ldquo;qualified client&rdquo; as described above.</p></td>
        </tr>
      </tbody>
    </table>
  </li>
  <br />
  <li>
    <p class="b"> Tax Information:</p>
    
    <p> For tax planning purposes, the following information is requested. In addition, each Subscriber must complete Appendix A hereto.</p>
    
    <table cellspacing="0" class="multi_choice_table">
      <tbody>
        <tr>
          <td><p> Initial All <br /><span class="u">Applicable</span></p></td>
          <td><p> For U.S. Tax Purposes <br /><span class="u">the Undersigned is a</span>:</p></td>
        </tr>
        <tr>
          <td><input class="initials_requested" name="data[define_you_i]" type="text" required value="" placeholder="Initials"></td>
          <td><p> 1. U.S. citizen.</p></td>
        </tr>
        <tr>
          <td><input class="initials_requested" name="data[define_you_ii]" type="text" required value="" placeholder="Initials"></td>
          <td><p> 2. U.S. resident.</p></td>
        </tr>
        <tr>
          <td><input class="initials_requested" name="data[define_you_iii]" type="text" required value="" placeholder="Initials"></td>
          <td><p> 3. Private foundation, as defined in Section 509(a) of the Code.</p></td>
        </tr>
        <tr>
          <td><input class="initials_requested" name="data[define_you_iv]" type="text" required value="" placeholder="Initials"></td>
          <td><p> 4. Individual but not a U.S. citizen nor a U.S. resident.</p></td>
        </tr>
        <tr>
          <td><input class="initials_requested" name="data[define_you_v]" type="text" required value="" placeholder="Initials"></td>
          <td><p> 5. U.S. corporation, company or trust.</p></td>
        </tr>
        <tr>
          <td><input class="initials_requested" name="data[define_you_vi]" type="text" required value="" placeholder="Initials"></td>
          <td><p> 6. Non-U.S. corporation, company or trust.</p></td>
        </tr>
        <tr>
          <td><input class="initials_requested" name="data[define_you_vii]" type="text" required value="" placeholder="Initials"></td>
          <td><p> 7. Non-U.S. person.</p></td>
        </tr>
      </tbody>
    </table>
    
    <br />
    
    <p> Depending on the responses to this Section (D), additional information may be requested by the Fund or the Administrator from the Subscriber prior to acceptance of this subscription.</p>
    
  </li>
  <li>
    <p class="b">ERISA:</p>
    
    <ol class="num_order">
      <li>
        <p> Is the Subscriber (answer each question in (a)-(h)):</p>
        <ol>
          <li>
            <p> Subject to the fiduciary provisions of Part 4 of Title I of ERISA?</p>
            
            <p>
                <input type="radio" name="data[fid_pro_part_4]" value="Yes"><label for="data[is_inv_company]"> Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="data[fid_pro_part_4]" value="No"><label for="data[is_inv_company]"> No</label>
            </p>
            
          </li>
          <li>
            <p> A trust which is exempt from tax under Section 501(a) of the Code?</p>
            
            <p>
                <input type="radio" name="data[trust_exempt]" value="Yes"><label for="data[is_inv_company]"> Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="data[trust_exempt]" value="No"><label for="data[is_inv_company]"> No</label>
            </p>
            
            
            
          </li>
          <li>
            <p> An individual retirement account (an &ldquo;IRA&rdquo;) or other plan, account or arrangement not described in (a) or (b) above that is subject to the prohibited transaction rules of Section 4975 of the Code?</p>
            
            <p>
                <input type="radio" name="data[indv_retire_4975]" value="Yes"><label for="data[is_inv_company]"> Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="data[indv_retire_4975]" value="No"><label for="data[is_inv_company]"> No</label>
            </p>
            
          </li>
              <li>
                <p> A governmental plan within the meaning of Section 3(32) of ERISA?</p>
                
                <p>
                    <input type="radio" name="data[gov_erisa]" value="Yes"><label for="data[is_inv_company]"> Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="data[gov_erisa]" value="No"><label for="data[is_inv_company]"> No</label>
       			</p>
                
              </li>
              <li>
                <p> A church plan within the meaning of Section 3(33) of ERISA?</p>
                
                <p>
                    <input type="radio" name="data[church_erisa]" value="Yes"><label for="data[is_inv_company]"> Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="data[church_erisa]" value="No"><label for="data[is_inv_company]"> No</label>
        		</p>
                
                <p> If the Subscriber answered &ldquo;Yes&rdquo; to (e), has such church plan elected to be subject to ERISA?</p>
                
                <p>
                    <input type="radio" name="data[church_erisa_true]" value="Yes"><label for="data[is_inv_company]"> Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="data[church_erisa_true]" value="No"><label for="data[is_inv_company]"> No</label>
                </p>
                
              </li>
              <li>
                <p> A plan which is established and maintained outside of the United States primarily for the benefit of individuals substantially all of whom are nonresident aliens?</p>
                
                <p>
                    <input type="radio" name="data[plan_international]" value="Yes"><label for="data[is_inv_company]"> Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="data[plan_international]" value="No"><label for="data[is_inv_company]"> No</label>
                </p>
                
              </li>
              <li>
                <p> A group trust, bank collective investment trust or insurance company separate account?</p>
                
                <p>
                    <input type="radio" name="data[multi_erisa]" value="Yes"><label for="data[is_inv_company]"> Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="data[multi_erisa]" value="No"><label for="data[is_inv_company]"> No</label>
                </p>
                
              </li>
              <li>
                <p> A partnership, limited liability company, trust or other entity not described in (g)?</p>
                
                <p>
                    <input type="radio" name="data[not_app_erisa]" value="Yes"><label for="data[is_inv_company]"> Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="data[not_app_erisa]" value="No"><label for="data[is_inv_company]"> No</label>
                </p>
                
              </li>
            </ol>
            
          </li>
 
      </li>
      <li>
        <p> If the Subscriber answered &ldquo;Yes&rdquo; to either (1)(g) or (1)(h), is it (answer both (a) and (b) below):</p>
        <ol>
          <li>
            <p> Subject to the fiduciary provisions of Part 4 of Title I of ERISA?</p>
            
            <p>
                <input type="radio" name="data[fid_part_4_title_i]" value="Yes"><label for="data[is_inv_company]"> Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="data[fid_part_4_title_i]" value="No"><label for="data[is_inv_company]"> No</label>
            </p>
            
          </li>
          <li>
            <p> Subject to the prohibited transaction provisions of Section 4975 of the Code?</p>
            
            <p>
                <input type="radio" name="data[prohib_trans_4975]" value="Yes"><label for="data[is_inv_company]"> Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="data[prohib_trans_4975]" value="No"><label for="data[is_inv_company]"> No</label>
            </p>
            
            
            
          </li>
        </ol>
      </li>

      <li>
        <p> If the Subscriber answered &ldquo;Yes&rdquo; to (2)(a) or (2)(b), please complete the following representation by filling in the correct percentage:</p>
        <p> Throughout the period the Subscriber holds Interests, no more than <input type="text" value="" > % of the total value of the equity interests in the Subscriber will at any time be held by Benefit Plan Subscribers (as defined below).</p>
  
      </li>

      <li>
        <p> Is the Subscriber an insurance company that is purchasing Interests with assets of its general account?</p>
        <p>
            <input type="radio" name="data[insurance_comp]" value="Yes"><label for="data[is_inv_company]"> Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="data[insurance_comp]" value="No"><label for="data[is_inv_company]"> No</label>
        </p>
        <br />
        
        <span id="insurance_comp_info" class="hide">
        
        <p> Please complete the following representation by filling in the correct percentage:</p>

        <p> Throughout the period the Subscriber holds Interests, no more than <input type="text" value="" > % of the general account as a whole will constitute plan assets of Benefit Plan Subscribers (as defined below).</p>
        
        <p> For purposes of the foregoing, a &ldquo;Benefit Plan Investor&rdquo; as defined in Section 3(42) of ERISA includes employee benefit plans that are subject to the fiduciary provisions of Part 4 of Title I of ERISA (including, without limitation, pension and profit-sharing plans) and plans that are subject to the prohibited transaction provisions of Section 4975 of the Code (including, without limitation, IRAs and Keogh plans). The term Benefit Plan Investor does not include government plans, non-U.S. plans and church plans that have not elected to be subject to ERISA.</p>
        
        </span>
 
      </li>
      <p class="b"> Relationship to Fund Sponsor:</p>

<p> Is the Subscriber a person who has discretionary authority or control with respect to the assets of the Partnership or provides investment advice for a fee (direct or indirect) with respect to such assets, or any affiliate of such a person (a &ldquo;Management Affiliate&rdquo;)?</p>

<p>
    <input type="radio" name="data[relat_fund_spon]" value="Yes"><label for="data[is_inv_company]"> Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio" name="data[relat_fund_spon]" value="No"><label for="data[is_inv_company]"> No</label>
</p>

<p> For purposes of the foregoing, an &ldquo;affiliate&rdquo; of a person includes any person, directly or indirectly, through one or more intermediaries, controlling, controlled by, or under common control with such person. &ldquo;Control,&rdquo; with respect to a person other than an individual, means the power to exercise a controlling influence over the management or policies of such person.</p>
    </ol>
    
<li>
    <p class="b"> UBTI Status:</p>
    
    <p> Is the Subscriber investing assets of a pension plan, IRA or other tax-exempt entity that is subject to federal income tax on any unrelated business taxable income (&ldquo;UBTI&rdquo;)?</p>
    
    <p>
        <input type="radio" name="data[relat_fund_spon]" value="Yes"><label for="data[is_inv_company]"> Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="data[relat_fund_spon]" value="No"><label for="data[is_inv_company]"> No</label>
    </p>
    
    <p> The Subscriber acknowledges that it has reviewed the discussion on UBTI in the &ldquo;Taxation&rdquo; section of the Memorandum.</p>
    <p>
        <input type="radio" name="data[relat_fund_spon]" value="Yes"><label for="data[is_inv_company]"> Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="data[relat_fund_spon]" value="No"><label for="data[is_inv_company]"> No</label>
    </p>
  </li>
  <li>
    <p class="b"> General:</p>
    
    <table cellspacing="0">
      <tbody>
        <tr>
          <td>
            <p> <input class="initials_requested" name="data[notify_if_changes_appen_c]" type="text" required value="" placeholder="Initials"> </p></td>
          <td><p> The Subscriber hereby agrees that if any of information in this Subscription Agreement changes, the Subscriber will notify the Fund, the Investment Manager or the Administrator within thirty (30) days thereof. The Subscriber understands that information contained in this Subscription Agreement may be disclosed to the Internal Revenue Service by the Fund and that any false statement contained herein could be punished by fine, imprisonment or both.</p></td>
        </tr>
      </tbody>
    </table>
</li>

</section>