<section id="appendix_k">
<p> APPENDIX K</p>
<p> NOMINEE FINANCIAL INSTITUTION CONFIRMATION</p>

<p> If the Subscriber is a nominee bank or other recognized financial institution serving as a nominee this confirmation form should be completed and returned to the Administrator along with the completed Subscription Agreement and other relevant forms.</p>

<p> [To be placed on letterhead of the financial institution serving as the Subscriber] [Date]</p>
<p> Via courier delivery service and facsimile to: </p>
<p> Millennium Capital Partners Ltd. c/o ABM Chambers</p>
<p> Columbus Centre Road Town Tortola, VG1110</p>

<p> British Virgin Islands Attention: Mr. Chris Rocke Telephone: +284 494 6885</p>
<p> <a href="mailto:rocksolidassetmanagement@gmail.com" target="_blank">Email: </a>rocksolidassetmanagement@gmail.com Dear Sirs:</p>
<p> We hereby confirm the following:</p>

<ul>
  <li>
    <p> We are a company organised under the laws of [Country] and are subject to anti-money laundering legislation in [Country]. We are regulated by</p>
    <p> [Regulatory Agency in Country].</p>
  </li>
  <li>
    <p> We will verify the identity of all Subscribers in Millennial Assets Limited (the &ldquo;Fund&rdquo;).</p>
  </li>
  <li>
    <p> In the event that we are unable to verify the identity of any Subscriber in the Fund, we will inform you as soon as reasonably practicable of that fact.</p>
  </li>
  <li>
    <p> We will inform you immediately if we become aware of any Subscriber engaging in activities which lead us to believe that such Subscriber is involved in money laundering.</p>
  </li>
  <li>
    <p> We will retain documentary evidence of the identity of Subscribers in the Fund for a period of at least five years from the date of the Subscriber&rsquo;s complete redemption from the Fund.</p>
  </li>
  <li>
    <p> We further confirm that [Country] is a member of the Financial Action Task Force and that we are thereby bound by their recommendations and regulations.</p>
  </li>
</ul>

<p> We declare that we are licensed as a [Entity type] by</p>
<p> [Regulatory authority] under the laws of [Country] and are thereby subject to the regulations and/or guidelines which, to the best of our knowledge and</p>


<p> understanding, are in accordance with the Financial Action Task Force recommendations on the avoidance of money laundering and that the subscription is made in our name on behalf of our client(s) whom we have properly identified in accordance with said guidelines.</p>
<p> We confirm that this subscription is made on our name on behalf of our client(s), each of whom we have properly identified as required by and in accordance with all applicable laws and regulations.</p>

<h4> [Name of Subscriber]</h4>

<p> Signature(s)</p>

<p> Names and Titles</p>
</section>
