<section id="appendix_f">
<p>&nbsp;</p>
<p class="b u center">APPENDIX F <br />NOTARIZATION ACKNOWLEDGMENT</p>

<p class="b">ACKNOLWEDGEMENT</p>

<p class="b">STATE OF <input type="text" name="data[appendixF_state_of]" value=""> &nbsp; )</p>
<p class="b">COUNTY OF <input type="text" name="data[appendixF_county_of]" value=""> &nbsp; ) ss:</p>
<p class="b">COUNTRY OF <input type="text" name="data[appendixF_country_of]" value=""> &nbsp; )</p>

<p> On this day <input type="date" name="data[appendixF_date]" value="">, before me personally appeared <input type="text" value="" name="data[appendixF_client_name]">, to me known and known to me to be the individual who executed the foregoing <strong>Anti-Money Laundering Supplement</strong> in the capacity therein indicated, who acknowledged that he or she, being authorized to do so, executed the foregoing instrument for the purposes therein contained and in the capacity therein indicated as his or her own free act and deed.</p>


<input type="text" value="" name="data[appendixF_notary_public]">
<p> Notary Public</p>

<p style="margin-bottom: 0!important;"> My Commission Expires:</p>
<input type="text" value="" name="data[appendixF_commission_exp]">

</section>