<section id="bvi_investor_notice_acknowledgement">
    <h4> BVI INVESTOR NOTICE ACKNOWLEDGEMENT</h4>
    <p>&nbsp;</p>
    <p> Before purchasing an Interest in the Millennial Assets Limited, prospective investors should carefully consider various risk factors and conflicts of interest, as well as suitability requirements, restrictions on transfer and withdrawal of Interests and various legal, tax and other considerations. An investment in the Interests offered by the Millennial Assets Limited should be viewed as a non-liquid investment and involves a high degree of risk. These Interests are not subject to regulatory oversight.</p>
    
    <p> Please tick box:</p>
    
    <p><input class="no_sigpad" type="checkbox" name="data[bvi_inv_acknowlegement]" value="The Subscriber hereby confirms that he/she/it has received, understood and accepted the BVI Investor Notice Acknowledgement in relation to the offering of participating shares in the Fund."> The Subscriber hereby confirms that he/she/it has received, understood and accepted the BVI Investor Notice Acknowledgement in relation to the offering of participating shares in the Fund.</p>
</section>