<div style="text-align:center!important;">
{if $flag == 'failure'}
	<div style='background-color: #CCC'> <p style="text-align:center;"> No account was found with the information you provided. Please verify your credentials and try again.</p></div>
{/if}

{if $flag == 'success'}
	<p style="text-align:center;">An email has been sent containing your login information. Please consult the email for further instructions.</p><br /><br />
{else}
	 <p style="text-align:center;">Enter your Email ID and the login information you submitted at registration will be sent to the email address on record.</p><br /><br />


	<form id="lost_password_form" method='post' action='{$config.site_url}lost_password'>
		<strong>Email ID</strong><br />
		<input type='hidden' name='p' value='request_password' />
		<input type='text' name='username' value='' /><br /><br />

		<input type='submit' value='send request' />
	</form>
{/if}
</div>