<section id="privacy_notice">

<p> PRIVACY NOTICE</p>

<p> Your privacy is very important to us. This Privacy Notice sets forth our current policies with respect to non-public personal information about our existing, prospective and former Subscribers. These policies may be changed at any time, provided a notice of such change is given to you.</p>

<p> In connection with making available investment products and rendering investment services, we may obtain, or you may provide us with, certain personal information, such as your address, social security number, assets and/or income information, through correspondence and conversations with us and our representatives and/or through agreements, applications, forms, questionnaires and other documents you may deliver to us. We do not disclose any non-public personal information about our existing, prospective or former Subscribers to unaffiliated third parties, except as described below or as permitted by law.</p>

<p> We may disclose non-public information about you to third parties in the course of providing services to you, such as to our accountants, fund administrators, attorneys, auditors, brokers, regulators and certain other service providers, in each case, only as we deem necessary. We may also release information about you (i) if you direct us to do so,</p>
<p> (ii) if compelled to do so by law, or (iii) in connection with any government or self- regulatory organization request or investigation. For example, it may be necessary under anti-money laundering and similar laws to disclose information about Subscribers in order to accept subscriptions from them.</p>

<p> We seek to carefully safeguard your private information and, to that end, restrict access to non-public personal information about you to those employees and other persons who need to know such information in connection with us providing services to you. We maintain physical, electronic and procedural safeguards to protect your non-public personal information.</p>

<p> Millennial Assets Limited</p>
</section>