<section id="representative_subscriber_only">
<p><strong>For Representative Subscribers Only</strong> (e.g., Nominees, Custodians, Trustees of Benefit Plan Subscribers or Other Legal Representatives). If the subscription for Shares in the Fund is being made by a Representative Subscriber in its own name, but on behalf of another entity (the &ldquo;<span class="u"><strong>Underlying Subscriber</strong></span>&rdquo;), please refer to <span class="u"><strong>Appendix K</strong></span> and complete the following:</p>

<p> Please indicate the nature of the Representative Subscriber&rsquo;s relationship with the Underlying Subscriber:</p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="50%" valign="top"><input type="radio" name="data[rep_sub_relationship]" value="Nominee/Custodian"> Nominee/Custodian</td>
      <td width="50%" valign="top"><input type="radio" name="data[rep_sub_relationship]" value="Distributor/Placement Agent"> Distributor/Placement Agent</td>
     </tr>
    <tr>
      <td width="50%" valign="top"><input type="radio" name="data[rep_sub_relationship]" value="Trustee of a Benefit Plan Investor"> Trustee of a Benefit Plan Investor</td>
      <td width="50%" valign="top"><input type="radio" name="data[rep_sub_relationship]" value="Other"> Other - 
        <input name="data[rep_sub_relationship_specify]" type="text" id="data[rep_sub_relationship_specify]" placeholder="Specify:"></td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>

<p>Please initial below regarding the Underlying Subscriber:</p>
<p><input type="checkbox" name="data[underlying_subscriber1]" value="By initialing here, Representative Subscribers confirm and represent that they are duly authorized by the Underlying Subscriber for whom they act to make this investment on their behalf and that they have the requisite power and investment authority to act on behalf of and bind such Underlying Subscriber in subscribing hereto."><label for="data[underlying_subscriber1]"> By initialing here, Representative Subscribers confirm and represent that they are duly authorized by the Underlying Subscriber for whom they act to make this investment on their behalf and that they have the requisite power and investment authority to act on behalf of and bind such Underlying Subscriber in subscribing hereto.</label></p>

<p><input type="checkbox" name="data[underlying_subscriber2]" value="By initialing here, Representative Subscribers confirm that the representations, warranties and agreements made herein are made by the Subscriber: (i) with respect to the Subscriber; and (ii) with respect to the Underlying Subscriber."><label for="data[underlying_subscriber2]"> By initialing here, Representative Subscribers confirm that the representations, warranties and agreements made herein are made by the Subscriber: (i) with respect to the Subscriber; and (ii) with respect to the Underlying Subscriber.</label></p>

<p><input type="checkbox" name="data[underlying_subscriber3]" value="By initialing here, Representative Subscribers confirm and represent that they have performed all investigations necessary or appropriate to ensure compliance with all applicable money laundering, anti-terrorist and related laws and regulations and will provide their procedures, if requested."><label for="data[underlying_subscriber3]"> By initialing here, Representative Subscribers confirm and represent that they have performed all investigations necessary or appropriate to ensure compliance with all applicable money laundering, anti-terrorist and related laws and regulations and will provide their procedures, if requested.</label></p>

<ol>
  <li>
    <p> Please indicate where you would like us to send the confirmation of a subscription for an Interest, a copy of these Subscription Documents and any other communications (including redemption checks) that are not delivered electronically: (initial one)</p>
    
    <p><input type="radio" name="data[send_conf]" value="Legal address below"> Legal address below</p>
    
    <p><input type="radio" name="data[send_conf]" value="Mailing address below"> Mailing address below</p>
  </li>
  <li>
    <p> The Fund, the Investment Manager and the Administrator (each as defined) will send you correspondence and documents and may send reports and other communications to you in electronic form, such as email or by posting on a website (with notification of the posting by email). The Fund does not impose any additional charge for electronic delivery, but you may incur charges from your internet service provider and your telephone company or other internet access provider. In addition, there are risks, such as system outages, that are associated with electronic delivery. The Fund will take reasonable precautions to ensure the integrity of the communications but will not be liable for any interception. If you consent, it is effective immediately and remains in effect as long as you are a Shareholder, unless you otherwise notify the Fund in writing.</p>
    </li>
    </ol>
    
    <p> Do you consent to receive deliveries of reports and other communications from the Fund and the Investment Manager (including annual and other updates of all documents and customer privacy policies and procedures) exclusively in electronic form{* without separate mailing of paper copies*}?</p>
    <p><input type="radio" name="data[consent_to_receive]" value="Yes"> Yes&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio" name="data[consent_to_receive]" value="No"> No</p>
        
{*    <p> If No, please indicate your preferred correspondence method:</p>
    <p><input type="radio" name="data[preferred_correspondence]" value="Fax"> Fax&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio" name="data[preferred_correspondence]" value="Postal Service"> Postal Service</p>
    
    <p><strong>Legal address:</strong></p>
    <p><input type="text" id="legal_mailing_name" name="legal_mailing_name" placeholder="Name"></p>
    <p>
      <input type="text" id="legal_mailing_street" name="legal_mailing_street" placeholder="Street">
    </p>
    <p>
      <input type="text" id="legal_mailing_city" name="legal_mailing_city" placeholder="City">
    </p>
    <p>
      <input type="text" id="legal_mailing_state" name="legal_mailing_state" placeholder="State">
    </p>
    <p>
      <input type="text" id="legal_mailing_postal_code" name="legal_mailing_postal_code" placeholder="Postal Code">
    </p>
    <p>
      <select name="legal_mailing_country" id="legal_mailing_country">
        <option>Select country</option>
<option value="Canada">Canada</option>
        <option value="United States">United States</option>
      </select>      
    </p>
    
    <p> Attn: 
      <input type="text" id="legal_mailing_attn" name="legal_mailing_attn">
    </p>
    
    <p> Telephone number: ( ) - 
      <input type="text" id="legal_phone" name="legal_phone" placeholder="" maxlength="14">
    </p>
    
    <p> Facsimile number: ( ) - 
      <input type="text" id="legal_fax" name="legal_fax" placeholder="" maxlength="14">
    </p>
    
    
    <p><strong>Mailing address, if different:</strong></p>
    <p><input type="text" id="legal_other_mailing_name" name="legal_other_mailing_name" placeholder="Name"></p>
    <p>
      <input type="text" id="legal_other_mailing_street" name="legal_other_mailing_street" placeholder="Street">
    </p>
    <p>
      <input type="text" id="legal_other_mailing_city" name="legal_other_mailing_city" placeholder="City">
    </p>
    <p>
      <input type="text" id="legal_other_mailing_state" name="legal_other_mailing_state" placeholder="State">
    </p>
    <p>
      <input type="text" id="legal_other_mailing_postal_code" name="legal_other_mailing_postal_code" placeholder="Postal Code">
    </p>
    <p>
      <select name="legal_other_mailing_country" id="legal_other_mailing_country">
        <option>Select country</option>
<option value="Canada">Canada</option>
        <option value="United States">United States</option>
      </select>      
    </p>
    
    <p> Attn: 
      <input type="text" id="legal_other_mailing_attn" name="legal_other_mailing_attn">
    </p>
    
    <p> Telephone number: ( ) - 
      <input type="text" id="legal_phone_other" name="legal_phone_other" placeholder="" maxlength="14">
    </p>
    
    <p> Facsimile number: ( ) - 
      <input type="text" id="legal_fax_other" name="legal_fax_other" placeholder="" maxlength="14">
    </p>
    
    <p> Email Address:
    	<input type="email" id="legal_email_other" name="legal_email_other" placeholder="">
    </p>*}
</section>