<section id="request_for_redemption">

<p> REQUEST FOR REDEMPTION OF SHARES</p>

<p> Millennium Capital Partners Ltd. c/o ABM Chambers</p>
<p> Columbus Centre Road Town Tortola, VG1110</p>

<p> British Virgin Islands Attention: Mr. Chris Rocke Telephone: +284 494 6885</p>
<p> <a href="mailto:rocksolidassetmanagement@gmail.com" target="_blank">Email: </a>rocksolidassetmanagement@gmail.com Re: Millennial Assets Limited</p>
<p> Dear Sir:</p>

<p> The undersigned shareholder (the &ldquo;Shareholder&rdquo;) of Millennial Assets Limited (the &ldquo;Fund&rdquo;) hereby requests to redeem that portion of its shares (the &ldquo;Shares&rdquo;) of the Fund as is indicated below as of .*</p>

<h4> (Check one) All of the Shareholder&rsquo;s outstanding Shares.</h4>

<p> A portion of the Shareholder&rsquo;s outstanding Shares having a net asset value at the time of redemption of USD $ .</p>

<p> Set forth below are instructions for the account to which the cash proceeds of the redemption may be sent by wire transfer: </p>
<p> Name of Bank:</p>

<p> Address of Bank:</p>

<p> Name under which Account is Held:</p>

<p> ABA Number/ Wire routing number:</p>

<p> SWIFT Code:</p>

<p> Account Number:</p>

<p> IBAN Number:</p>


<p> *This request for Withdrawal must be received at least sixty (60) days advance written notice and subject to certain restrictions.</p>

<h4> Note: The Shareholder agreed and understood that any redemption proceeds paid to it would be paid to the same account from which the Subscriber&rsquo;s investment in the Fund was originally remitted, unless the Fund, in its sole discretion, agrees otherwise.</h4>

<table cellspacing="0">
  <tbody>
    <tr>
      <td><p> Name of Shareholder</p></td>
    </tr>
    <tr>
      <td><p> Signature or Authorized Signatory</p></td>
    </tr>
    <tr>
      <td><p> Name of Authorized Signatory</p></td>
    </tr>
    <tr>
      <td><p> Title of Authorized Signatory</p></td>
    </tr>
    <tr>
      <td><p> Dated</p></td>
    </tr>
  </tbody>
</table>
</section>
