<section id="request_for_redemption">

<p> &nbsp; </p>

<p class="b u center"> REQUEST FOR REDEMPTION OF SHARES</p>

<p> Millennium Capital Partners Ltd. <br />
	c/o ABM Chambers <br />
	Columbus Centre <br />
    Road Town <br />
    Tortola, VG1110 <br />
    British Virgin Islands <br />
    Attention: Mr. Chris Rocke <br />
    Telephone: +284 494 6885 <br />
    Email: rocksolidassetmanagement@gmail.com
</p>

<p> Re: Millennial Assets Limited </p>

<p> Dear Sir:</p>

<p> The undersigned shareholder (the <span class="b u">&ldquo;Shareholder&rdquo;</span>) of Millennial Assets Limited (the <span class="b u">&ldquo;Fund&rdquo;</span>) hereby requests to redeem that portion of its shares (the <span class="b u">&ldquo;Shares&rdquo;</span>) of the Fund as is indicated below as of <input type="text" name="" value="">.<strong>*</strong></p>

<p class="b"> (Check one) </p>

<input type="text" name="" value="">
<label> All of the Shareholder&rsquo;s outstanding Shares.</label>

<br />
<br />

<input type="text" name="" value="">
<label> A portion of the Shareholder&rsquo;s outstanding Shares having a net asset value at the time of redemption of USD $.</label>

<p> &nbsp; </p>

<p> Set forth below are instructions for the account to which the cash proceeds of the redemption may be sent by wire transfer: </p>

<div style="margin-left: 25px;">

    <p> Name of Bank: <input type="text" name="" value=""></p>
    
    <p> Address of Bank: <input type="text" name="" value=""></p>
    
    <p> Name under which Account is Held: <input type="text" name="" value=""></p>
    
    <p> ABA Number/ Wire routing number: <input type="text" name="" value=""></p>
    
    <p> SWIFT Code: <input type="text" name="" value=""></p>
    
    <p> Account Number: <input type="text" name="" value=""></p>
    
    <p> IBAN Number: <input type="text" name="" value=""></p>

</div>


<p> *This request for Withdrawal must be received at least sixty (60) days advance written notice and subject to certain restrictions.</p>

<p> <strong>Note:</strong> The Shareholder agreed and understood that any redemption proceeds paid to it would be paid to the same account from which the Subscriber&rsquo;s investment in the Fund was originally remitted, unless the Fund, in its sole discretion, agrees otherwise.</p>

<div style="position: relative; float: right;">
	
    <input type="text" name="" value="">
    <p> Name of Shareholder</p>
    
    <input type="text" name="" value="">
    <p> Signature or Authorized Signatory</p>
    
    <input type="text" name="" value="">
    <p> Name of Authorized Signatory</p>
    
    <input type="text" name="" value="">
    <p> Title of Authorized Signatory</p>
    
    <input type="text" name="" value="">
    <p> Dated</p>
    
</div>

<div style="clear: both;"></div>

</section>
