<section id="top_sheet_section" class="popupSection">
<a href="javascript:void(0)" class="popup_close_btn">X</a>
<h1>Millennial Assets Limited</h1>
<p class="center">A BRITISH VIRGIN ISLANDS BUSINESS COMPANY</p>
<p class="center">{*$smarty.now|date_format:"%B %e, %Y"*}December 1, 2016</p>

<h2> Private Offering of Participating Shares</h2>
<h3> Subscription Booklet</h3>

<p> To subscribe for Shares (the "Shares") in Millennial Assets Limited (the "Fund"), a prospective investor must complete the subscription documents contained in this form in accordance with the instructions set forth herein.{* Please send the executed and properly completed original and any required supporting documentation to the Investment Manager, at: *}</p>
{*<h4>Investment Manager</h4>
<p class="center">Millennium Capital Partners Ltd.<br>
c/o ABM Chambers<br>
Columbus Centre<br>
Road Town Tortola, VG1110<br>
British Virgin Islands<br>
Attention: Mr. Chris Rocke<br>
Telephone: +284 494 6885<br>
<a href="mailto:chris@rsionline.com" target="_blank">Email: chris@rsionline.com</a></p>*}
<p> Please be sure that your name is the same in all signatures and places where it is printed on the documents. Countersigned duplicate copies of each signed document (the "Completion Notice") will be returned to you after your subscription is accepted and a closing with respect to your subscription for Interests has occurred. You should keep copies of these documents for your files. The Fund, the Investment Manager and each of their respective affiliates, members, managers, officers, employees and agents shall be held harmless by a potential Subscriber against any loss arising as a result of a failure to process the subscription.</p>
<p> This booklet of subscription documents is an Exhibit to the Confidential Private Placement Memorandum of the Fund, dated December 1, 2016, (the "Memorandum"), relating to the private offering of the Interests. Delivery of these subscription documents to anyone other than the person named on the front cover of the Memorandum as the intended recipient is unauthorized, and any reproduction or circulation of this booklet, in whole or in part, is prohibited.</p>
<p> Unless otherwise defined herein, or unless otherwise required by the context, all capitalized terms used in these Subscription Documents have the meanings ascribed to them in the Memorandum.</p>
<div style="clear:both;"></div>
</section>